# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Visual Studio Code files
.vscode
.vs

# PyCharm files
.idea

# Eclipse Project settings
*.*project
.settings

# Sublime Text settings
*.sublime-workspace
*.sublime-project

# Editor temporaries
*.swn
*.swo
*.swp
*.swm
*~

# IPython notebook checkpoints
.ipynb_checkpoints

# macOS dir files
.DS_Store

exp
data
raw_wav
tensorboard
**/*build*

# Clangd files
.cache
compile_commands.json

# train/inference files
*.wav
*.m4a
*.aac
*.pt
pretrained_models/*
*_pb2_grpc.py
*_pb2.py
*.tar

# 临时文件
temp/
tmp/
backups/

# 日志文件
*.log
logs/

# 环境文件
.env
.venv
venv/
ENV/

# IDE文件
.idea/
.vscode/
*.swp
*.swo